{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Shoes Ecommerce Website</title>
</head>

<body>
    <header class="header">
        <div class="nav">
            <a href="#hero" class="logo">tigrun</a>
            <nav>
                <ul>
                    <li><a href="#hero">home</a></li>
                    <li><a href="#arrival">new arrival</a></li>
                    <li><a href="#collection">best collection</a></li>
                    <li><a href="#about">about</a></li>
                </ul>
                <div class="nav-icon">
                    <a href="{% url 'cart' %}" id="cart-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span id="cart-count">0</span>
                    </a>
                </div>
            </nav>
            <i class="fa-solid fa-bars burger_icon"></i>
        </div>
    </header>

    <!-- Hero Section -->
    <main id="hero" class="container hero">
        <div class="clr-one"></div>
        <div class="clr-two"></div>
        <div class="wrapper">
            <div class="col col-text" data-aos="fade-right">
                <h1 class="heading-one">best in style <br> collection <br> <span>for you</span></h1>
                <p class="sub-text">We Craft The, We Want To Say The Best, <br>
                    But Through 70 Years Of Experience In The Industry</p>
                <button class="btn btn-hero">pre-order now</button>
            </div>
            <div class="col col-img">
                <figure data-aos="fade-left">
                    <img src="{% static 'images/hero.png' %}" alt="hero-img">
                </figure>
                <div class="hero-img-off" data-aos="zoom-in-up">
                    <h3 class="heading-three">get up to 50% OFF</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est inventore </p>
                </div>
            </div>
        </div>
    </main>

    <!-- New Arrival Section -->
    <section id="arrival" class="container arrival">
        <div class="section-heading">
            <div class="heading">
                <h2 class="heading-two">new <span>arrival</span> </h2>
                <p class="sub-heading">our new collection</p>
            </div>
            <button class="btn">see all</button>
        </div>
        <div class="wrapper">
            <div class="col" data-aos="zoom-in-up">
                <figure>
                    <img src="{% static 'images/ar1.png' %}" alt="nike-shoe">
                </figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">$350</p>
                        <button class="shoe-btn btn add-to-cart" data-id="1" data-name="Nike Running" data-price="350">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col" data-aos="zoom-in-up">
                <figure>
                    <img src="{% static 'images/ar2.png' %}" alt="nike-shoe">
                </figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">$350</p>
                        <button class="shoe-btn btn add-to-cart" data-id="2" data-name="Nike Air Max" data-price="350">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col" data-aos="zoom-in-up">
                <figure>
                    <img src="{% static 'images/ar3.png' %}" alt="nike-shoe">
                </figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">$350</p>
                        <button class="shoe-btn btn add-to-cart" data-id="3" data-name="Nike React" data-price="350">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col" data-aos="zoom-in-up">
                <figure>
                    <img src="{% static 'images/ar4.png' %}" alt="nike-shoe">
                </figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">$350</p>
                        <button class="shoe-btn btn add-to-cart" data-id="4" data-name="Nike Pegasus" data-price="350">buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Us Section -->
    <section id="about" class="about container">
        <div class="clr-one"></div>
        <div class="clr-two"></div>
        <div class="wrapper">
            <div class="col-img col">
                <div class="get-off" data-aos="zoom-in">
                    <h4>get up to 50% OFF</h4>
                    <p class="off-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <figure data-aos="fade-left">
                    <img src="{% static 'images/about-img.png' %}" alt="about-img">
                </figure>
            </div>
            <div class="col-text col" data-aos="fade-right">
                <p class="sub-heading">about us</p>
                <h2 class="heading-two"> we provide high <br> quality <span> shoes</span></h2>
                <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum commodi nostrum similique corrupti
                    doloremque alias aliquam assumenda impedit, sequi optio!
                </p>
                <button class="btn">read more</button>
            </div>
        </div>
    </section>

    <!-- Best Collection Section -->
    <section id="collection" class="container collection">
        <div class="section-heading">
            <div class="heading">
                <p class="sub-heading">best collection</p>
                <h2 class="heading-two">our new collection</h2>
            </div>
            <div class="btn-section">
                <button class="btn-col btn" data-btn="all">all</button>
                <button class="btn-col" data-btn="men">men</button>
                <button class="btn-col" data-btn="women">women</button>
                <button class="btn-col" data-btn="sports">sports</button>
            </div>
        </div>
        <div class="grid-wrapper">
            <div class="col- collection-item" data-item="men" data-aos="zoom-in-up">
                <figure><img src="{% static 'images/pr1.png' %}" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">$350</p>
                        <button class="shoe-btn btn add-to-cart" data-id="5" data-name="Nike Men's Shoe" data-price="350">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="women" data-aos="zoom-in-up">
                <figure><img src="{% static 'images/pr2.png' %}" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">$350</p>
                        <button class="shoe-btn btn add-to-cart" data-id="6" data-name="Nike Women's Shoe" data-price="350">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="men" data-aos="zoom-in-up">
                <figure><img src="{% static 'images/pr3.png' %}" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">$350</p>
                        <button class="shoe-btn btn add-to-cart" data-id="7" data-name="Nike Men's Shoe 2" data-price="350">buy now</button>
                    </div>
                </div>
            </div>

            <div class="col- collection-item" data-item="sports" data-aos="zoom-in-up">
                <figure><img src="{% static 'images/pr4.png' %}" alt=""></figure>
                <div class="col-body">
                    <p class="rating-icon"><i class="fa-solid fa-star"></i> <span class="rating-num">4.9</span></p>
                    <h3 class="heading-three">nike running</h3>
                    <p class="sub-heading">air zoom pagasus</p>
                    <div class="col-footer">
                        <p class="shoe-price">$350</p>
                        <button class="shoe-btn btn add-to-cart" data-id="8" data-name="Nike Sports Shoe" data-price="350">buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonial Section -->
    <section class="container testimonial">
        <div class="clr-one"></div>
        <div class="section-heading">
            <div class="heading">
                <p class="sub-heading">testimonial</p>
                <h2 class="heading-two">what our customer says</h2>
            </div>
        </div>
        <div class="wrapper">
            <div class="col" data-aos="zoom-in-up">
                <figure><img src="{% static 'images/tes-1.png' %}" alt=""></figure>
                <h3 class="heading-three">thor john</h3>
                <p class="testi-message">I stumbled upon this shoe website and decided to give it a try. Wow, was I
                    impressed! The quality of the shoes exceeded my expectations, and the customer service was
                    outstanding. I'll definitely be a repeat customer!"</p>
                <span class="ratting"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i
                        class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i
                        class="fa-solid fa-star"></i></span>
            </div>

            <div class="col" data-aos="zoom-in-up">
                <figure><img src="{% static 'images/tes-2.png' %}" alt=""></figure>
                <h3 class="heading-three">john wick</h3>
                <p class="testi-message">I've been searching for the perfect pair of shoes for months, and I finally
                    found them on this website. Not only are they stylish and comfortable, but the ordering process was
                    seamless</p>
                <span class="ratting"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i
                        class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i
                        class="fa-solid fa-star"></i></span>
            </div>

            <div class="col" data-aos="zoom-in-up">
                <figure><img src="{% static 'images/tes-3.png' %}" alt=""></figure>
                <h3 class="heading-three">James Jackie</h3>
                <p class="testi-message">I'm not one to leave reviews often, but I had to for this website. The variety
                    of shoes available is fantastic, and the prices are unbeatable. Plus, the shoes I ordered arrived in
                    pristine condition and fit perfectly."</p>
                <span class="ratting"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i
                        class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i
                        class="fa-solid fa-star"></i></span>
            </div>
        </div>
    </section>

    <!-- Subscribe Section -->
    <section class="container subscribe">
        <div class="wrapper" style="background-image: linear-gradient(45deg, #0202024c, #000000c3), url('{% static "images/subs.png" %}'); background-size: cover; background-position: center;">
            <h2 class="heading-two">subscribe for news and latest updates</h2>
            <form>
                <input type="email" class="email" placeholder="kaliprasad392@gmail.com">
                <button class="btn">subscribe</button>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer class="container">
        <div class="wrapper">
            <div class="col" data-aos="zoom-in">
                <a href="#hero" class="logo">tigrun</a>
                <p class="about-website">Garibo Don't Come <br> This Website  <br> Not For You</p>
            </div>
            <div class="col" data-aos="zoom-in">
                <h4>quick links</h4>
                <a href="#hero">home</a>
                <a href="#about">about</a>
                <a href="#arrival">new arrival</a>
                <a href="#collection">best collection</a>
            </div>
            <div class="col" data-aos="zoom-in">
                <h4>contact us</h4>
                <p>kaliprasad392@gmail.com</p>
                <p>+91-8984488998</p>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>